:root {
  --white: #fff;
  --white-transparent: rgba(255, 255, 255, 0.9);

  --w-50: #e3f2ff;
  --w-100: #bbddff;
  --w-200: #8fc9ff;
  --w-300: #61b3ff;
  --w-400: #3fa3ff;
  --w-500: #1f93ff;
  --w-600: #2284f0;
  --w-700: #2272dc;
  --w-800: #2161ca;
  --w-900: #1f41ab;

  --g-50: #e6f8e6;
  --g-100: #c4eec2;
  --g-200: #9de29a;
  --g-300: #6fd86f;
  --g-400: #44ce4b;
  --g-500: #00c41d;
  --g-600: #00b412;
  --g-700: #00a200;
  --g-800: #009000;
  --g-900: #007000;

  --y-50: #fffcf4;
  --y-100: #fffac5;
  --y-200: #fff69e;
  --y-300: #fef176;
  --y-400: #fcec56;
  --y-500: #f9e736;
  --y-600: #ffdd3a;
  --y-700: #ffc532;
  --y-800: #fdad2a;
  --y-900: #f9841b;

  --s-50: #e7eefb;
  --s-100: #c8d6e6;
  --s-200: #abbace;
  --s-300: #8c9eb6;
  --s-400: #7489a4;
  --s-500: #5d7592;
  --s-600: #506781;
  --s-700: #40546b;
  --s-800: #314155;
  --s-900: #1f2d3d;

  --b-50: #f8f9fe;
  --b-100: #f2f3f7;
  --b-200: #e9eaef;
  --b-300: #dadbdf;
  --b-400: #b6b7bb;
  --b-500: #96979c;
  --b-600: #6e6f73;
  --b-700: #5a5b5f;
  --b-800: #3c3d40;
  --b-900: #1b1c1f;

  --r-50: #ffebee;
  --r-100: #ffccd1;
  --r-200: #f69898;
  --r-300: #ef6f6f;
  --r-400: #f94b4a;
  --r-500: #ff382d;
  --r-600: #f02b2d;
  --r-700: #de1e27;
  --r-800: #d11320;
  --r-900: #c30011;

  --v-50: #ffffff;
  --v-100: #f5ebff;
  --v-200: #ddb8ff;
  --v-300: #c585ff;
  --v-400: #ac52ff;
  --v-500: #941fff;
  --v-600: #7b00eb;
  --v-700: #6000b8;
  --v-800: #450085;
  --v-900: #2b0052;

  // Common color aliases
  --color-woot: var(--w-500);

  --color-heading: #1f2d3d;
  --color-body: #3c4858;

  --color-border: #e0e6ed;
  --color-border-light: #f0f4f5;
  --color-border-dark: #cad0d4;

  --color-background: #f4f6fb;
  --color-background-light: #f9fafc;

  // Social and inboxes brand colors
  --color-facebook-brand: #3b5998;
  --color-twitter-brand: #1da1f2;
  --color-whatsapp-brand: #25d366;
  --color-sms-twilio: #f42f46;
  --color-cloud-generic: #18b7b0;
}
